*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #28289e;
}
a{
	text-decoration: none;
}
#Menu{
	background: #028FCC;
}
#Menu li {
	position: relative;
	display: inline-block;
	padding: 0px 40px;
}
#Menu li ul{
	position: absolute;
	display: none;
	top: 110%;
	left: -30px;	
	width: 250px;
}
#Menu li ul li{
	display: block;
	margin: 7px 0px;
}
#Menu > li > a{	
	display: inline-block;	
	color: white;
	height: 50px;
	line-height: 50px;
} 
#Menu li:hover ul {	
	background: white;
	display: block;
}
#Menu li:hover ul > li{
	color: black;
}
#Menu > li.dropdown:hover:before{
	position: absolute;
	content: '';
	display: block;
	background-color: transparent;
	border: 10px solid white;
	width: 0px;
	border-top: 0px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    top: 45px;
    left: calc(50% - 12px);

}

.author{
	position: fixed;
	bottom: 100px;
	right: 100px;
}
.author p a{
	color: white;
}